// Body
$body-bg: #f5f8fa;
$color-text: #007bff;

// ******* breadcrumbs *****************//
$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
// $breadcrumb-divider-flipped: $breadcrumb-divider;
$breadcrumb-active-color: #6c757d;
$breadcrumb-border-radius: 0.25rem;
$breadcrumb-bg: #e9ecef;
$breadcrumb-border-radius: 0.25rem;

//accordian
$accordion-button-color: $color-text;
$accordion-bg: rgba(197, 197, 197, 0.03);
